<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="../../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body id="mainBody">
  <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://img.clipartimage.com/kitchen-utensils-set-vector-eating-utensils-vector-eating-utensils-clipart-163_170.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bon Appetit
  </a>
</nav>
  {{{body}}}
</body>

</html>
