<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>


        <h2>Welcome to Bon Appetit Please Create an Account or Sign In</h2>
        <a class="btn btn-primary btn-lg" href="../newuser" id="newUserButton">New User</a>
        <a class="btn btn-primary btn-lg" href="../signin">Sign In</a>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>