<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Group Name</label>
            <input type="text" id="groupName" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-text">Order Date</label>
            <input type="text" id="orderDate" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-text">Restaurant</label>
            <input type="text" id="restaurant" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-text">Runner</label>
            <input type="text" id="runner" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
              <button id="newOrderButton" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Order Details:</h3>
        <ul id="order-detail-list" class="list-group">
          {{#each ordergroup}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="order/{{this.id}}">{{this.ordername}}{{this.orderDate}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>