<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{users.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{users.username}}</p>
          <p>
            <strong>Description:</strong> {{users.email}}</p>
            <a href="/">← Back To Home</a><br>
            <a class="btn btn-primary btn-lg" href="../order">Order</a>
            
        </div>
      </div>
    </div>
  </div>
</div>
